

/* Start:/bitrix/templates/.default/components/bitrix/menu/top2/style.css?14491555303152*/
#content .menu {
position: relative;
height: 54px;
margin-top: -30px;
background: #DDD url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu.gif') 0 -108px repeat-x;
border: 1px solid #CCC;
z-index: 50;
}

#content .menu ul li.main_li {
float: left;
position: relative;
height: 54px;
padding: 0 1px 0 0;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu.gif') 100% -54px no-repeat;
}

#content .menu ul li.main_li a.main_a {
float: left;
height: 33px;
text-decoration: none;
padding: 21px 12px 0;
}

#content .menu ul li.active a.main_a,
#content .menu ul li.main_li:hover a.main_a {
color: #64A3CD;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu.gif') repeat-x;
}

#content .menu ul li.main_li .third,
#content .menu ul li.main_li .second {
display: none;
}

#content .menu ul li.main_li:hover .second {
display: block;
position: absolute;
top: 54px;
left: -1px;
width: 197px;
width: 201px;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu_second.png') repeat-y;
}

#content .menu ul li.main_li ul li:hover .third
{
display: block;
position: absolute;
top: auto;
left: 195px;
width: 197px;
width: 201px;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu_second.png') repeat-y;
}

#content .menu ul li.main_li .second ul {
width: 195px;
padding: 10px 0 10px 0;
background-color: transparent;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_menu_second.png') repeat-y;
border: 1px solid #CCC;
}

#content .menu ul li.main_li  ul li .third ul
{
width: 195px;
padding: 10px 0 10px 0;
margin-top: -20px;
background-color: transparent;
border: 1px solid #CCC;
}

#content .menu ul li.main_li  ul li .third ul li,
#content .menu ul li.main_li .second ul li {
display: block;
background-image:none;
margin: 10px 0;
}

#content .menu ul li.main_li .second ul li:hover a {

}

#content .menu ul li.main_li .second ul li:hover li a {
background-image:none;
}

#content .menu ul li.main_li ul li .third ul li:hover a
 {

}

#content .menu ul li.main_li .second ul li a {
display: block;
padding: 2px 10px;
}

#content .menu ul li.main_li ul li .third ul li a{
display: block;
padding: 2px 10px;
}

#content .menu ul li.main_li .second ul li.menu_set a {
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/menu_set.png') no-repeat 97% 50%;
}

#content .menu ul li.main_li .second ul li.menu_set a:hover {
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/menu_set2.png') no-repeat 97% 50%;
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}


#content .menu ul li.main_li ul li .third ul li a:hover,
#content .menu ul li.main_li .second ul li a:hover {
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}


#content .menu form {
float: right;
width: 280px;
height: 23px;
margin: 17px 10px 0 0;
background: url('/bitrix/templates/.default/components/bitrix/menu/top2/images/bg_search_input.gif') no-repeat;
}

#content .menu form input {
float: left;
width: 218px;
height: 15px;
color: #999;
font-size: 11px;
font-family: Arial;
padding: 4px 7px;
background-color: transparent;
border: none;
}

#content .menu form a {
float: right;
color: #999;
font-style: italic;
margin: 3px 0;
}

#content .menu ul li.main_li .second ul li.menu_set  li a:hover {
background: none;
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}
/* End */


/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1449155493448*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/menu/submenu/style.css?14491555302872*/
#content .main_block table td.left_column .inner .content_menu {
width: 75%;
font-size: 11px;
padding: 0 13px 13px;
margin-top: -13px;
margin-left: -13px;
border-bottom: 1px solid #E8E8E8;
}
#content .main_block table td.left_column .inner.manual-page .content_menu {
    width: 100%;
}
#content .main_block table td.left_column .inner.manual-page .content_menu ul {
    margin-left: -5px;
}
#content .main_block table td.left_column .inner .content_menu ul li.first_menu {
float: left;
position: relative;
margin: 0 25px 0 0;
}

#content .main_block table td.left_column .inner.manual-page .content_menu ul li.first_menu {
    display: block;
    float: none;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 0 5px 0;
}
#content .main_block table td.left_column .inner.manual-page .content_menu ul li.first_menu.item-selected a{
    color: #fff;
    background-color: #1d66ae;
    text-decoration: none;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu a.first_menu_link {
float: left;
height: 15px;
padding: 5px;
}

#content .main_block table td.left_column .inner.manual-page .content_menu ul li.first_menu a.first_menu_link {
    float: none;
    height: auto;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu:hover a.first_menu_link {
color: #40B3D9;
text-decoration: underline;
background-color: #F0F0F0;
}

#content .main_block table td.left_column .inner.manual-page .content_menu ul li.first_menu:hover a.first_menu_link {
    color: #fff;
    background-color: #1d66ae;
    text-decoration: none;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second {
display: none;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu:hover .second {
display: block;
position: absolute;
top: 25px;
left: 5px;
width: 197px;
width: 201px;
background: url('/bitrix/templates/.default/components/bitrix/menu/submenu/images/bg_menu_second.png') repeat-y;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second ul {
width: 195px;
padding: 10px 0 10px 0;
background-color: transparent;
border: 1px solid #F0F0F0;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second ul li {
display: block;
margin: 10px 0;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second ul li:hover a {
color: #64A3CD;
background: url('/bitrix/templates/.default/components/bitrix/menu/submenu/images/bg_menu.gif') repeat-x;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second ul li a {
display: block;
font-size: 11px;
padding: 2px 10px;
}

#content .main_block table td.left_column .inner .content_menu ul li.first_menu .second ul li a:hover {
color: #FFF;
background: none;
background-color: #0099CC;
}


/* End */


/* Start:/bitrix/components/secnrs/news.detail/templates/.default/style.css?1449155491114*/
div.news-detail img.detail_picture
{
	float:right;
	margin:0px 1px 5px 7px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/menu/bottom2/style.css?14491555303195*/
#footer .menu {
position: relative;
height: 54px;
margin-top: -30px;
background: #DDD url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu.gif') 0 -108px repeat-x;
border: 1px solid #CCC;
z-index: 50;
}

#footer .menu ul li.main_li {
float: left;
position: relative;
height: 54px;
padding: 0 1px 0 0;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu.gif') 100% -54px no-repeat;
}

#footer .menu ul li.main_li a.main_a {
float: left;
height: 33px;
text-decoration: none;
padding: 21px 12px 0;
}

#footer .menu ul li.active a.main_a,
#footer .menu ul li.main_li:hover a.main_a {
color: #64A3CD;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu.gif') repeat-x;
}

#footer .menu ul li.main_li .third,
#footer .menu ul li.main_li .second {
display: none;
}

#footer .menu ul li.main_li:hover .second {
display: block;
position: absolute;
top: 54px;
left: -1px;
width: 197px;
width: 201px;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu_second.png') repeat-y;
}

#footer .menu ul li.main_li ul li:hover .third
{
display: block;
position: absolute;
bottom: auto;
margin-top: 125px;
left: 195px;
width: 197px;
width: 201px;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu_second.png') repeat-y;
}

#footer .menu ul li.main_li .second ul {
position: absolute; 
bottom:55px;
width: 195px;
padding: 10px 0 10px 0;
background-color: transparent;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_menu_second.png') repeat-y;
border: 1px solid #CCC;
}

#footer .menu ul li.main_li  ul li .third ul
{
width: 195px;
padding: 10px 0 10px 0;
/* margin-bottom: -125px; */
background-color: transparent;
border: 1px solid #CCC;
}

#footer .menu ul li.main_li  ul li .third ul li,
#footer .menu ul li.main_li .second ul li {
display: block;
background-image:none;
margin: 10px 0;
}

#footer .menu ul li.main_li .second ul li:hover a {

}

#footer .menu ul li.main_li .second ul li:hover li a {
background-image:none;
}

#footer .menu ul li.main_li ul li .third ul li:hover a
 {

}

#footer .menu ul li.main_li .second ul li a {
display: block;
padding: 2px 10px;
}

#footer .menu ul li.main_li ul li .third ul li a{
display: block;
padding: 2px 10px;
}

#footer .menu ul li.main_li .second ul li.menu_set a {
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/menu_set.png') no-repeat 97% 50%;
}

#footer .menu ul li.main_li .second ul li.menu_set a:hover {
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/menu_set2.png') no-repeat 97% 50%;
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}


#footer .menu ul li.main_li ul li .third ul li a:hover,
#footer .menu ul li.main_li .second ul li a:hover {
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}


#footer .menu form {
float: right;
width: 280px;
height: 23px;
margin: 17px 10px 0 0;
background: url('/bitrix/templates/.default/components/bitrix/menu/bottom2/images/bg_search_input.gif') no-repeat;
}

#footer .menu form input {
float: left;
width: 218px;
height: 15px;
color: #999;
font-size: 11px;
font-family: Arial;
padding: 4px 7px;
background-color: transparent;
border: none;
}

#footer .menu form a {
float: right;
color: #999;
font-style: italic;
margin: 3px 0;
}

#footer .menu ul li.main_li .second ul li.menu_set  li a:hover {
background: none;
color: #FFF;
font-size: 12px;
background-color: #0099CC;
}
/* End */


/* Start:/bitrix/templates/Sh2/styles.css?14491555296168*/
#content .content .table-basket-line  td{
width: none;
}


#content .content  ul li{
list-style: none outside disc;

}

#content .content  ul{
margin-left: 15px;
list-style-type: disc;
}

#content .content h1 {
font-family: Verdana;
}

#content .content h1 {
color: #666;
font-size: 18px;
margin: 0 0 20px;
}

/* Kachalin 8.12.2013 */

#content .content .term {
font-style: italic;
}

#content .content {
font-family: Verdana, Tahoma, Arial, sans-serif;
text-align: justify;       
}

#content .content ol ol {
list-style-type: lower-latin;       
}

#content .content ol ol ol {
list-style-type: lower-roman;       
}

#content .content ol ol ol ol{
list-style-type: lower-latin;       
}

#content .content blockquote {
text-align: justify;
margin-left: 150px;
}

#content .content h2 {
color: #199ECB;
font-weight: bold;
font-size: 15px;
margin: 20px 0 10px;
}

/* Скобки для документов */
#content .content ol ol.ska { 
 list-style-type: none; /* Прячем исходную нумерацию */
 text-indent: -2.5em;
}

#content .content ol ol.sk1 { 
 list-style-type: none; /* Прячем исходную нумерацию */
 text-indent: -2.5em;
}

.ska li::before {
 margin-right: .5em; /* Расстояние от буквы до текста */
 width: 2em; /* Ширина */
 text-align: right; /* Выравнивание по правому краю */
 display: inline-block; /* Строчно-блочный элемент */
}

.sk1 li::before {
 margin-right: .5em; /* Расстояние от буквы до текста */
 width: 2em; /* Ширина */
 text-align: right; /* Выравнивание по правому краю */
 display: inline-block; /* Строчно-блочный элемент */
}

.ska li:nth-child(1)::before { content: 'а)'; }
.ska li:nth-child(2)::before { content: 'б)'; }
.ska li:nth-child(3)::before { content: 'в)'; }
.ska li:nth-child(4)::before { content: 'г)'; }
.ska li:nth-child(5)::before { content: 'д)'; }
.ska li:nth-child(6)::before { content: 'е)'; }
.ska li:nth-child(7)::before { content: 'ж)'; }
.ska li:nth-child(8)::before { content: 'з)'; }
.ska li:nth-child(9)::before { content: 'и)'; }
.ska li:nth-child(10)::before { content: 'к)'; }
.ska li:nth-child(11)::before { content: 'л)'; }
.ska li:nth-child(12)::before { content: 'м)'; }
.ska li:nth-child(13)::before { content: 'н)'; }
.ska li:nth-child(14)::before { content: 'о)'; }
.ska li:nth-child(15)::before { content: 'п)'; }
.ska li:nth-child(16)::before { content: 'р)'; }
.ska li:nth-child(17)::before { content: 'с)'; }
.ska li:nth-child(18)::before { content: 'т)'; }

.sk1 li:nth-child(1)::before { content: '1)'; }
.sk1 li:nth-child(2)::before { content: '2)'; }
.sk1 li:nth-child(3)::before { content: '3)'; }
.sk1 li:nth-child(4)::before { content: '4)'; }
.sk1 li:nth-child(5)::before { content: '5)'; }
.sk1 li:nth-child(6)::before { content: '6)'; }
.sk1 li:nth-child(7)::before { content: '7)'; }
.sk1 li:nth-child(8)::before { content: '8)'; }
.sk1 li:nth-child(9)::before { content: '9)'; }
.sk1 li:nth-child(10)::before { content: '10)'; }
.sk1 li:nth-child(11)::before { content: '11)'; }
.sk1 li:nth-child(12)::before { content: '12)'; }
.sk1 li:nth-child(13)::before { content: '13)'; }
.sk1 li:nth-child(14)::before { content: '14)'; }
.sk1 li:nth-child(15)::before { content: '15)'; }
.sk1 li:nth-child(16)::before { content: '16)'; }
.sk1 li:nth-child(17)::before { content: '17)'; }
.sk1 li:nth-child(18)::before { content: '18)'; }
.sk1 li:nth-child(19)::before { content: '19)'; }
.sk1 li:nth-child(20)::before { content: '20)'; }
.sk1 li:nth-child(21)::before { content: '21)'; }
.sk1 li:nth-child(22)::before { content: '22)'; }
.sk1 li:nth-child(23)::before { content: '23)'; }
.sk1 li:nth-child(24)::before { content: '24)'; }
.sk1 li:nth-child(25)::before { content: '25)'; }
.sk1 li:nth-child(26)::before { content: '26)'; }
.sk1 li:nth-child(27)::before { content: '27)'; }
.sk1 li:nth-child(28)::before { content: '28)'; }
.sk1 li:nth-child(29)::before { content: '29)'; }
.sk1 li:nth-child(30)::before { content: '30)'; }
/* End of Kachalin's modifications*/

#content .content  h3 {
color: #199ECB;
font-weight: bold;
font-size: 14px;
margin: 20px 0 10px;
}

#content .content  p {
margin: 20px 0;
}

#content .content  {
margin: 20px 0;
}

#content .content  img {
border: none;
}

#content .content  .discs img  {
border: none;
}

#content .content  p img {
margin: 0 20px 20px 0;
border: none;
}

#content .content  p a {
color: #199ECB;
text-decoration: none;
}

#content .content  ol {
margin: 20px 0;
padding: 0 0 0 25px;
}

#content .content  ol li {
margin: 0;
padding: 0;

/* Kachalin 09.12.2013
list-style: outside decimal;
*/

}

#content .content  .link {
width: 75%;
font-size: 11px;
padding: 0 13px 13px;
margin-top: -13px;
margin-left: -13px;
border-bottom: 1px solid #E8E8E8;
}

#content .content  .link span {
margin: 0 25px 0 0;
}

#content .content  .link span a:hover {
color: #40B3D9;
text-decoration: underline;
}

#content .content  .preview {
width: auto;
margin: auto;
}

#content .content  .preview td {
padding: 10px;
}

.type {
font-size: 18px;
}


a.tt{
/*position:relative;*/
z-index:-2;
color:#3CA3FF;
font-weight:bold;
text-decoration:none;
}
a.tt span{ display: none; }
 /*background:; ie hack, something must be changed in a for ie to execute it*/
    a.tt:hover{ z-index:25; color: #aaaaff;}
    a.tt:hover span.tooltip{
    display:block;
  position:absolute;
    top:-60px; left:-55px;
    padding: 15px 0 0 0;
    width:200px;
    color: #666666;
    text-align: center;
    filter: alpha(opacity:90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
    }
    a.tt:hover span.top{
    display: block;
    padding: 30px 8px 0;
    background: url(/bitrix/templates/Sh2/bubble.gif) no-repeat top;
    }
    a.tt:hover span.middle{ /* different middle bg for stretch */
    display: block;
    padding: 0 8px; 
    background: url(/bitrix/templates/Sh2/bubble_filler.gif) repeat bottom; 
    }
    a.tt:hover span.bottom{
    display: block;
    padding:3px 8px 10px;
    color: #548912;
    background: url(/bitrix/templates/Sh2/bubble.gif) no-repeat bottom;
    }


/* End */


/* Start:/bitrix/templates/Sh2/template_styles.css?144915552934480*/
html,body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
color: #666;
font-size: 12px;
font-family: Arial, Verdana, Tahoma, sans-serif;  
background-color: #FFF;
}

/* Kachalin Убрал li
div,form,ul,li,dl,dt,dd,p {
*/

div,form,ul,dl,dt,p {
margin: 0;
padding: 0;
list-style: none;
}

dd {
margin: 0 10;
padding: 0;
list-style: none;
}

img {
border: 0;
}

h2,h3,h4,h5,h6 {

/* Kachalin Убрал h1
h1,h2,h3,h4,h5,h6 {
*/

margin: 0;
padding: 0;
color: #199ECB;
font-weight: normal;
}

h1 {
font-weight: bold;
}
/* Kachalin ended here */

.clear {
clear: both;
overflow: hidden;
height: 0;
}

.relative {
position: relative;
}

a {
color: #666;
}

a:hover {
text-decoration: none;
}


#layer {
min-width: 990px;
min-height: 100%;
}

* html #layer {
height: 100%;
}

#layer .layer_body {
padding: 0 0 180px;
}

#header {
height: 272px;
background: #0F3A8C url('/bitrix/templates/Sh2/images/bg_header.gif') repeat-x;
border-bottom: 8px solid #CC0000;
}

#header .header {
position: relative;
min-width: 990px;
max-width: 1260px;
height: 272px;
margin: auto;
}

#header .header .logo {
position: absolute;
bottom: 70px;
right: 50px;
width: 154px;
height: 93px;
font-size: 24px;
}

#header .header .logo a {
color: #FFF;
}

#header .header h2 {
width: 50%;
color: #FFF;
font-size: 35px;
text-align: center;
font-family: 'Times New Roman';
margin: auto;
padding: 20px 0;
}

#header .header h3 {
color: #FFF;
font-size: 18px;
text-align: center;
padding: 20px 0 30px;
}

#header .header h4 {
color: #0D2770;
font-size: 18px;
text-align: center;
}

#header .header .rst {
position: absolute;
bottom: 40px;
left: 50px;
width: 132px;
text-align: center;
padding: 165px 0 0;
/*background: url('/bitrix/templates/Sh2/images/icon_rst.png') no-repeat;*/
}

#header .header .rst a {
color: #FFF;
}

#header .header .techmenu {
position: absolute;
bottom: 40px;
right: 100px;
}

#header .header .techmenu li {
float: left;
margin: 0 15px;
}

#header .header .lang {
position: absolute;
bottom: 40px;
right: 20px;
}

#header .header .lang li {
float: left;
width: 18px;
height: 12px;
padding: 3px 4px 3px 5px;
}

#header .header .lang li.active {
background: url('/bitrix/templates/Sh2/images/icon_lang_active.png') no-repeat;
}

#header .header .font {
position: absolute;
top: 65px;
right: 20px;
color: #FFF;
font-size: 12px;
}

#header .header .font a {
color: #FFF;
text-decoration: none;
}

#header .header .font .active {
color: #003366;
}

#header .header .font .small {
font-size: 12px;
margin: 0 5px;
}

#header .header .font .big {
font-size: 20px;
margin: 0 3px;
}

#content {
position: relative;
min-width: 990px;
max-width: 1260px;
margin: auto;
}

#content .menu form {
float: right;
width: 290px;
height: 23px;
margin: 17px 10px 15px 0;
background: url('/bitrix/templates/Sh2/images/bg_search_input.gif') no-repeat;
}

#content .menu form input.txt{
float: left;
width: 170px;
height: 15px;
color: #999;
font-size: 11px;
font-family: Arial;
padding: 4px 7px;
background-color: transparent;
border: none;
}

#content .menu form  input.srch {
float: right;
color: #999;
font-style: italic;
margin: 0px 0;
width: 50px;
height: 20px;
font-size: 12px;
text-decoration: underline;
}

#content .menu form  input.srch:hover {
cursor: pointer; 
cursor: hand;
color: #999;
}

#type {
font-size: 18px;
}

#content .main_block {
padding: 30px 0;
}

#content .main_block table {
width: 100%;
}

#content .main_block table tr {
vertical-align: top;
}

#content .main_block table td.left_column {
padding: 0 15px 0 0;

}

#content .main_block table td.left_column .block {
padding: 0 0 0 13px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_block table td.left_column .block h1 {
color: #333;
font-size: 18px;
margin: 0 0 25px;
}


#content .main_block table td.left_column .block p {
margin: 20px 0;
}

#content .main_block table td.left_column .block p img {
float: left;
margin: 0 20px 20px 0;
border: 1px solid #999;
}

#content .main_block table td.left_column .inner .license,
#content .main_block table td.left_column .block .license {
height: 108px;
margin: 10px 0;
}

#content .main_block table td.left_column .inner .license a,
#content .main_block table td.left_column .block .license a {
display: block;
width: 70px;
height: 100px;
padding: 3px;
border: 1px solid #FFF;
}

#content .main_block table td.left_column .inner .license a:hover,
#content .main_block table td.left_column .block .license a:hover {
border: 1px solid #999;
}

#content .main_block table td.left_column .inner {
padding: 0 13px;
}

#content .main_block table td.left_column .breadcrumb {
padding: 0 13px;
}

#content .main_block table td.left_column .inner .breadcrumb {
padding: 0;
}

#content .main_block table td.left_column .breadcrumb,
#content .main_block table td.left_column .inner .breadcrumb {
position: relative;
color: #9D9C9C;
font-size: 10px;
margin: 0 0 10px;
margin-top: -20px;
}

#content .main_block table td.left_column .breadcrumb a,
#content .main_block table td.left_column .inner .breadcrumb a {
color: #9D9C9C;
}

#content .main_block table td.left_column .inner h1 {
color: #199ECB;
text-align: left;
/* Kachalin 10.12.2013
color: #666;

*/
font-size: 18px;
margin: 30px 0 20px;
}

#content .main_block table td.left_column .inner h3 {
margin: 30px 0 20px;
text-align: left;
}

#content .main_block table td.left_column .inner ul  li,
#content .main_block table td.left_column .inner p {
margin: 20px 0;
font-family: Verdana;
}

//Kachalin 9.5.2014
#content .main_block table td.left_column .inner p.news-item {
margin: 5px 0;
}

#content .main_block table td.left_column .inner p.news-date-tim {
margin: 5px 0;
}



#content .main_block table td.left_column .inner .image {
margin: 20px 0;
}

#content .main_block table td.left_column .inner .image img {
border: none;
}

#content .main_block table td.left_column .inner p img {
margin: 0 20px 20px 0;
border: none;
}

/* Kachalin 28.1.2013 */
#content .main_block table td.left_column .inner p a {
color: #199ECB;
text-decoration: underline;
}

#content .main_block table td.left_column .inner a {
color: #199ECB;
text-decoration: underline;
}

/* Kachalin 29.1.2014 
#content .main_block table td.left_column .inner table {
border: 2px solid black;
border-collapse: collapse;
}

#content .main_block table td.left_column .inner table td{
border: 2px solid black;
}

#content .main_block table td.left_column .inner table th{
border: 2px solid black;
}
*/

/* Kachalin 28.1.2014 */


#content .main_block table td.left_column .inner ol {
margin: 20px 0;
padding: 0 0 0 25px;
}

#content .main_block table td.left_column .inner ol li {
margin: 0;
padding: 0;
/* Kachalin 09.12.2013
list-style: outside decimal;
*/
}

#content .main_block table td.left_column .inner .link {
width: 75%;
font-size: 11px;
padding: 0 13px 13px;
margin-top: -13px;
margin-left: -13px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_block table td.left_column .inner .link span {
margin: 0 25px 0 0;
}

#content .main_block table td.left_column .inner .link span a:hover {
color: #40B3D9;
text-decoration: underline;
}

#content .main_block table td.left_column .inner .preview {
width: auto;
margin: auto;
}

#content .main_block table td.left_column .inner .preview td {
padding: 10px;
}

#content .main_block table td.right_column {
width: 300px;
}

#content .main_block table td.right_column .manual-filter {
    margin-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;
}
#content .main_block table td.right_column .manual-filter-body {
    padding: 0 25px;
    border-left: 1px solid #E8E8E8;
}
#content .main_block table td.right_column .manual-filter-body h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
}
#content .main_block table td.right_column .manual-filter-body .filter-item {
    margin-bottom: 15px;
}
#content .main_block table td.right_column .manual-filter-body .filter-item label {
    display: block;
}
#content .main_block table td.right_column .manual-filter-body .filter-item select {
    display: block;
    width: 100%;
    max-width: 250px;
}
#content .main_block table td.right_column .manual-filter-body .search-form {
    margin-bottom: 20px;
}
#content .main_block table td.right_column .manual-filter-body .search-form input[type=text] {
    width: 180px;
}


#content .main_block table td.right_column .docs {
padding: 0 0 15px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .docs_body {
padding: 0 25px;
border-left: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .docs h2 {
font-size: 14px;
margin: 0 0 20px;
}

#content .main_block table td.right_column .docs h2 a {
color: #024585;
}

#content .main_block table td.right_column .docs p {
font-style: italic;
margin: 0 0 25px;
}

#content .main_block table td.right_column .docs p a {
color: #0188C0;
}

#content .main_block table td.right_column .docs .button {
float: left;
}

#content .main_block table td.right_column .docs .signup {
float: right;
color: #999;
font-style: italic;
margin: 3px 0;
}

#content .main_block table td.right_column .books {
margin: 15px 0 0;
padding: 0 0 15px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .books_body {
padding: 0 25px;
border-left: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .books .image {
float: left;
}

#content .main_block table td.right_column .books p {
color: #999;
margin: 0 0 0 70px;
}

#content .main_block table td.right_column .books p a {
color: #666;
font-size: 14px;
font-style: italic;
}

#content .main_block table td.right_column .menu_item {
margin: 20px 0 0;
}

#content .main_block table td.right_column .menu_item h3 {
height: 60px;
color: #004E93;
font-size: 12px;
font-family: 'Times New Roman';
margin: 0 0 20px;
border-bottom: 3px solid #3399CC;
}

#content .main_block table td.right_column .menu_item h3 a {
color: #004E93;
text-decoration: none;
}

#content .main_block table td.right_column .menu_item h3 a:hover,
#content .main_block table td.right_column .menu_item h3 a.active {
color: #FFF;
background-color: #1F4A91;
}

#content .main_block table td.right_column .menu_item_1 h3 {
padding: 0 0 10px 80px;
background: url('/bitrix/templates/Sh2/images/icon_main_article_1.gif') no-repeat;
}

#content .main_block table td.right_column .menu_item_2 h3 {
padding: 0 0 10px 90px;
background: url('/bitrix/templates/Sh2/images/icon_main_article_2.gif') no-repeat;
}

#content .main_block table td.right_column .menu_item_3 h3 {
padding: 0 0 10px 125px;
background: url('/bitrix/templates/Sh2/images/icon_main_article_3.gif') no-repeat;
}

#content .main_block table td.right_column .link_block {
padding: 0 0 15px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .link_block ul {
padding: 5px 0 5px 25px;
border-left: 1px solid #E8E8E8;
}

#content .main_block table td.right_column .link_block ul li {
font-size: 18px;
margin: 15px 0;
}

#content .main_articles {
padding: 0 0 15px;
border-bottom: 1px solid #E8E8E8;
}

#content .main_articles table {
width: 100%;
}

#content .main_articles table tr {
vertical-align: top;
}

#content .main_articles table th {
width: 31.33%;
text-align: left;
font-weight: normal;
padding: 0 1%;
}

#content .main_articles table th h3 {
height: 60px;
color: #004E93;
font-size: 14px;
font-family: 'Times New Roman';
margin: 0 0 10px;
border-bottom: 3px solid #3399CC;
}

#content .main_articles table th h3 a {
color: #004E93;
text-decoration: none;
}

#content .main_articles table th.left_column h3 {
padding: 0 0 10px 80px;

}

#content .main_articles table th.center_column h3 {
padding: 0 0 10px 90px;

}

#content .main_articles table th.right_column h3 {
padding: 0 0 10px 125px;

}

#content .main_articles table td.center_column {
border-left: 1px solid #E8E8E8;
border-right: 1px solid #E8E8E8;
}

#content .main_articles table td .block {
padding: 0 20px;
}

#content .main_articles table td .block h2 {
position: relative;
font-size: 18px;
padding: 20px 0 5px;
}

#content .main_articles table td .block h2 strong {
position: absolute;
top: 25px;
right: 10px;
color: #999;
font-size: 14px;
font-style: italic;
font-weight: normal;
}

#content .main_articles table td .block h2 strong em {
color: #0282C1;
}

#content .main_articles table td .block .news_item {
margin: 10px 0;
}

#content .main_articles table td .block .news_item p.date {
color: #0282C1;
font-size: 11px;
font-style: italic;
}

#content .main_articles table td .block .news_item h3 {
font-size: 12px;
font-style: italic;
font-weight: bold;
margin: 3px 0;
}

#content .main_articles table td .block .news_item p {
color: #999;
}

#content .main_articles table td .block .article_item {
font-size: 12px;
font-style: italic;
font-weight: bold;
margin: 26px 0 0;
}

#content .main_articles table td .block .conf h3 {
font-size: 12px;
font-weight: bold;
font-style: italic;
margin: 26px 0 15px;
}

#content .main_articles table td .block .conf h3 a {
color: #0188C0;
}

#content .main_articles table td .block .conf p.date {
color: #999;
font-size: 14px;
font-style: italic;
margin: 15px 0;
}

#content .main_articles table td .block .conf p.date strong {
color: #0282C1;
font-weight: normal;
}

#content .main_articles table td .block .conf ul {
margin: 20px 0 0;
}

#content .main_articles table td .block .conf ul li {
font-size: 14px;
font-style: italic;
margin: 3px 0;
}

#content .main_articles table td .block .conf ul li a {
color: #15469D;
}

#content .main_articles table td .block .more {
margin: 20px 0 0;
}

#content .main_articles table td .block .more a {
color: #0188C0;
font-size: 11px;
font-style: italic;
}

#content .banner {
padding: 15px 0 0;
}

#content .banner table {
width: 100%;
}

#content .banner table td {
width: 33.33%;
text-align: center;
padding: 20px 0 0;
}

#footer {
min-width: 990px;
height: 109px;
margin: auto;
margin-top: -117px;
background: #134198 url('/bitrix/templates/Sh2/images/bg_footer.gif') repeat-x;
border-top: 8px solid #CC0000;
}

#footer .footer {
position: relative;
min-width: 990px;
max-width: 1260px;
height: 109px;
margin: auto;
}



#footer .menu table {
width: 100%;

}

#footer .menu table td.finish {
padding: 0;
background: none;
}


#footer address {
color: #CCC;
font-size: 11px;
font-style: normal;
padding: 40px 13px 0;
}

#footer address strong {
color: #FFF;
font-size: 12px;
font-family: normal;
}


.none {
display: -moz-inline-stack;
display: inline-block;
_overflow: hidden;
zoom: 1;
*display: inline;
}

:focus {
outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

:focus {
-moz-outline: 3px solid #fff!important;
}

input[type="radio"]:focus {
-moz-outline-radius: 12px!important;
-moz-outline-offset: 0px!important;
}

.none {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
behavior: url('/bitrix/templates/Sh2/js/PIE.htc');
}

#header .header h2 {
*padding: 0;
text-shadow: 2px 2px 1px #0D2770;
}

#header .header h3 {
text-shadow: 2px 2px 1px #0D2770;
}

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}div.pp_default .pp_top .pp_left{background:url(/bitrix/templates/Sh2/images/sprite.png) -78px -93px no-repeat}div.pp_default .pp_top .pp_middle{background:url(/bitrix/templates/Sh2/images/sprite_x.png) top left repeat-x}div.pp_default .pp_top .pp_right{background:url(/bitrix/templates/Sh2/images/sprite.png) -112px -93px no-repeat}div.pp_default .pp_content .ppt{color:#f8f8f8}div.pp_default .pp_content_container .pp_left{background:url(/bitrix/templates/Sh2/images/sprite_y.png) -7px 0 repeat-y;padding-left:13px}div.pp_default .pp_content_container .pp_right{background:url(/bitrix/templates/Sh2/images/sprite_y.png) top right repeat-y;padding-right:13px}div.pp_default .pp_next:hover{background:url(/bitrix/templates/Sh2/images/sprite_next.png) center right no-repeat;cursor:pointer}div.pp_default .pp_previous:hover{background:url(/bitrix/templates/Sh2/images/sprite_prev.png) center left no-repeat;cursor:pointer}div.pp_default .pp_expand{background:url(/bitrix/templates/Sh2/images/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_expand:hover{background:url(/bitrix/templates/Sh2/images/sprite.png) 0 -56px no-repeat;cursor:pointer}div.pp_default .pp_contract{background:url(/bitrix/templates/Sh2/images/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_contract:hover{background:url(/bitrix/templates/Sh2/images/sprite.png) 0 -113px no-repeat;cursor:pointer}div.pp_default .pp_close{width:30px;height:30px;background:url(/bitrix/templates/Sh2/images/sprite.png) 2px 1px no-repeat;cursor:pointer}div.pp_default .pp_gallery ul li a{background:url(/bitrix/templates/Sh2/images/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/images/sprite.png) -51px 1px no-repeat;height:30px;width:30px}div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(/bitrix/templates/Sh2/images/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}div.pp_default .pp_content_container .pp_details{margin-top:5px}div.pp_default .pp_nav{clear:none;height:30px;width:105px;position:relative}div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;font-color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}div.pp_default .pp_bottom .pp_left{background:url(/bitrix/templates/Sh2/images/sprite.png) -78px -127px no-repeat}div.pp_default .pp_bottom .pp_middle{background:url(/bitrix/templates/Sh2/images/sprite_x.png) bottom left repeat-x}div.pp_default .pp_bottom .pp_right{background:url(/bitrix/templates/Sh2/images/sprite.png) -112px -127px no-repeat}div.pp_default .pp_loaderIcon{background:url(/bitrix/templates/Sh2/images/loader.gif) center center no-repeat}div.light_rounded .pp_top .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}div.light_rounded .pp_top .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}div.light_rounded .pp_next:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.light_rounded .pp_previous:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_rounded .pp_expand{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_rounded .pp_expand:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_rounded .pp_contract{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_rounded .pp_contract:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_rounded .pp_close{width:75px;height:22px;background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_rounded .pp_nav .pp_play{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_arrow_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}div.light_rounded .pp_arrow_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}div.light_rounded .pp_bottom .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}div.light_rounded .pp_bottom .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_top .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}div.dark_rounded .pp_top .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}div.dark_rounded .pp_content_container .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}div.dark_rounded .pp_content_container .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}div.dark_rounded .pp_next:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.dark_rounded .pp_previous:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.dark_rounded .pp_expand{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_rounded .pp_expand:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_rounded .pp_contract{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_rounded .pp_contract:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_rounded .pp_close{width:75px;height:22px;background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_rounded .pp_description{margin-right:85px;color:#fff}div.dark_rounded .pp_nav .pp_play{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_arrow_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}div.dark_rounded .pp_arrow_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}div.dark_rounded .pp_bottom .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}div.dark_rounded .pp_bottom .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_loaderIcon{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/loader.gif) center center no-repeat}div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}div.dark_square .pp_loaderIcon{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/loader.gif) center center no-repeat}div.dark_square .pp_expand{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_square .pp_expand:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_square .pp_contract{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_square .pp_contract:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_square .pp_close{width:75px;height:22px;background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_square .pp_nav{clear:none}div.dark_square .pp_nav .pp_play{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_arrow_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}div.dark_square .pp_arrow_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}div.dark_square .pp_next:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}div.dark_square .pp_previous:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_square .pp_expand{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_square .pp_expand:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_square .pp_contract{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_square .pp_contract:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_square .pp_close{width:75px;height:22px;background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_square .pp_nav .pp_play{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_square .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_square .pp_arrow_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) 0 -71px no-repeat}div.light_square .pp_arrow_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/sprite.png) -22px -71px no-repeat}div.light_square .pp_next:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}div.light_square .pp_previous:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_top .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -88px -53px no-repeat}div.facebook .pp_top .pp_middle{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/contentPatternTop.png) top left repeat-x}div.facebook .pp_top .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -110px -53px no-repeat}div.facebook .pp_content_container .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}div.facebook .pp_content_container .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/contentPatternRight.png) top right repeat-y}div.facebook .pp_expand{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}div.facebook .pp_expand:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}div.facebook .pp_contract{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}div.facebook .pp_contract:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}div.facebook .pp_close{width:22px;height:22px;background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}div.facebook .pp_description{margin:0 37px 0 0}div.facebook .pp_loaderIcon{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/loader.gif) center center no-repeat}div.facebook .pp_arrow_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}div.facebook .pp_arrow_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}div.facebook .pp_nav{margin-top:0}div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}div.facebook .pp_nav .pp_play{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}div.facebook .pp_nav .pp_pause{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}div.facebook .pp_next:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}div.facebook .pp_previous:hover{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_bottom .pp_left{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -88px -80px no-repeat}div.facebook .pp_bottom .pp_middle{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}div.facebook .pp_bottom .pp_right{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/sprite.png) -110px -80px no-repeat}div.pp_pic_holder a:focus{outline:none}div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}.pp_content{height:40px;min-width:40px}* html .pp_content{width:40px}.pp_content_container{position:relative;text-align:left;width:100%}.pp_content_container .pp_left{padding-left:20px}.pp_content_container .pp_right{padding-right:20px}.pp_content_container .pp_details{float:left;margin:10px 0 2px}.pp_description{display:none;margin:0}.pp_social{float:left;margin:7px 0 0}.pp_social .facebook{float:left;position:relative;top:-1px;margin-left:5px;width:55px;overflow:hidden}.pp_social .twitter{float:left}.pp_nav{clear:right;float:left;margin:3px 10px 0 0}.pp_nav p{float:left;margin:2px 4px}.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}.pp_gallery div{float:left;overflow:hidden;position:relative}.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}.pp_gallery ul a img{border:0}.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}.pp_gallery li.default a{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}a.pp_next{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}a.pp_previous{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}#pp_full_res{line-height:1!important}#pp_full_res .pp_inline{text-align:left}#pp_full_res .pp_inline p{margin:0 0 15px}div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/light_rounded/loader.gif) center center no-repeat}div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(/bitrix/templates/Sh2/../imagesprettyPhoto/dark_rounded/contentPattern.png) top left repeat}div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}.pp_top,.pp_bottom{height:20px;position:relative}* html .pp_top,* html .pp_bottom{padding:0 20px}.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}.pp_fade,.pp_gallery li.default a img{display:none}


body {
behavior: url('/bitrix/templates/Sh2/js/csshover.htc');
}

#layer,
#footer {
width: expression(document.documentElement.clientWidth < 990? "989px" : "100%");
}

#header .header,
#content,
#footer .footer {
width: expression(document.documentElement.clientWidth < 990? "989px" : document.documentElement.clientWidth > 1260? "1259px" : "100%");
}

/* End */
/* /bitrix/templates/.default/components/bitrix/menu/top2/style.css?14491555303152 */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1449155493448 */
/* /bitrix/templates/.default/components/bitrix/menu/submenu/style.css?14491555302872 */
/* /bitrix/components/secnrs/news.detail/templates/.default/style.css?1449155491114 */
/* /bitrix/templates/.default/components/bitrix/menu/bottom2/style.css?14491555303195 */
/* /bitrix/templates/Sh2/styles.css?14491555296168 */
/* /bitrix/templates/Sh2/template_styles.css?144915552934480 */
